.editor {
  max-width: 600px;
  padding: 16px;
  margin: 0 auto;
}

.textarea {
  textarea {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
  }
}

.sendButton {
  margin-top: 16px;
}
